version: "3.9"

services:
    postgres:
      image: postgres:16
      container_name: authServiceIN6BM
      restart: always
      environment:
        POSTGRES_DB: KinalSportsIN6BM
        POSTGRES_USER: root
        POSTGRES_PASSWORD: admin
      ports:
        - "5438:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: